DATABASE_URL = 'Link do banco'
SECRET_KEY = 'Sua secret key'
ALGORITHM='Padrao que quiser'
ACCESS_TOKEN_EXPIRES_MINUTES = Tempo que quiser
REFRESH_TOKEN_EXPIRES_DAYS = Tempo que quiser
API_GEMINI_KEY = 'Sua key do gemini (IA usada no projeto)'
